body {
  margin: auto;
}

.search-form {
  background-color: pink;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.search-form input {
  height: 45px;
  max-width: 350px;
  width: 100%;
  text-indent: 15px;
  font-size: 20px;
  border-radius: 50px;
  border-color: palevioletred;
  outline: none;
}

.button-switch {
  margin-left: 15px;
  padding-right: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 32px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: palevioletred;
}

input:focus + .slider {
  box-shadow: 0 0 1px palevioletred;
}

input:checked + .slider:before {
  transform: translateX(40px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-text {
  margin: 0;
  cursor: default;
}

.info {
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 20px;
  justify-content: center;
}

.info-item,
b {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 320px));
  grid-gap: 20px;
  justify-content: center;
  padding: 0 15px 15px 15px;
  list-style: none;
  margin-bottom: 10px;
  margin-top: 100px;
}

.gallery__items {
  height: 100%;
  position: relative;
  border-radius: 30px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.gallery__items figure {
  width: 100%;
  padding: 0;
  margin: 0;
}

.gallery__items figcaption {
  height: 100%;
  width: 100%;
}

.gallery__items:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.gallery__image {
  display: block;
  height: 230px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.load-more {
  display: block;
  padding: 0.5rem 1.25rem;
  border: none;
  border-radius: 50px;
  color: white;
  background-color: pink;
  position: relative;
  margin: 0 auto 50px;
}

.load-more:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  background-color: palevioletred;
}

.is-hidden {
  display: none;
}

.top {
  display: none;
  background-color: pink;
  fill: white;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  border: none;
}

.top:hover {
  background-color: palevioletred;
  transform: scale(1.08);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}
